.library-playlists{
    padding-top: 90px;
}

.library-playlists-search{
    /* background: red; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-playlists-search input{
    height: 30px;
    width: 60%;
    background: none;
    border: 1px solid #80808052;
    border-radius: 11px;
    padding-left: 20px;
    outline: none;
    color: #878787;
}

.saved-playlist-item{
    color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    gap: 10px;
    color: rgba(255, 255, 255, 0.39);
    font-family: math;
}

.saved-playlist-item-icon{
    height: 40px;
    margin: 6px;
    /* background-color: #242424; */
    background: linear-gradient(45deg, #640000b5, transparent);
    padding: 10px;
}