.library-playlists{
    padding-top: 60px;
}

.saved-playlist-item{
    color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    gap: 10px;
    color: rgba(255, 255, 255, 0.39);
    font-family: math;
}

.saved-playlist-item-icon{
    height: 40px;
    margin: 6px;
    background-color: #242424;
    padding: 10px;
}
