.library-playlists{
    padding-top: 90px;
}

.add-playlist-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8f8f8fa3;
}
.add-playlist-btn-icon{
    height: 40px;
    width: 40px;
    font-size: 40px;
    font-family: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    padding: 10px;
    border: 1px solid #8080804f;
}
.add-playlist-btn p{
    color: #ffffffa3;
}

.library-playlists-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 16px;
    border-bottom: 1px solid #5a5a5a;
    padding: 6px;
}

.library-playlists-search input{
    width: 86%;
    border: none;
    outline: none;
    height: 100%;
    padding: 0px 0px 0px 0px;
    padding-left: 16px;
    background: transparent;
    border-radius: 10px;
    color: rgb(147, 147, 147);
}
.library-playlists-search button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background: none;
    border: none;
}
.library-playlists-search button img{
    height: 20px;
}
.saved-playlist-item{
    color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    gap: 10px;
    color: rgba(255, 255, 255, 0.39);
    font-family: math;
    text-decoration: none;
}

.saved-playlist-item-icon{
    height: 40px;
    margin: 6px;
    /* background-color: #242424; */
    background: linear-gradient(45deg, #640000b5, transparent);
    padding: 10px;  
    background: #2f2f2f14;
    border: 1px solid #8080804f;
    border-radius: 10px;
}
.saved-playlist-item div p{
    color: #ffffffa3;
}