#song-options{
    background: #00000038;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.so-div{
    background: #0d0e11;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.so-div div button{
    position: relative;
    padding: 4px 0px 4px 0px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    background: none;
    border: none;
    color: white;
    width: 100%;
}