.song{
    position: fixed;
    left: 158px;
    top: 3px;
    z-index: 1;
    width: 250px;
}

.song-list{
    padding-bottom: 160px;
    padding-top: 60px;
}

.song-item-breaker{
    background: #464646;
    height: 1px;
    width: 80%;
    margin-left: 10%;
}

.song-item{
    height: 60px;
    color: #593d85;
    display: flex;
    align-items: center;
    padding-left: 9px;
    /* width: -webkit-fill-available; */
    width: 100%;
}

.song-item-icon{
    height: 40px;
    padding: 9px;
}

.song-songname{
    font-size: 16px;
}

.song-singer{
    font-size: 12px;
    color: #3b5481;
}