#song-options{
    background: #00000038;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.so-div{
    background: #0d0e11;
    height: 146px;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
}

button.so-cut-btn {
    position: absolute !important;
    height: 30px !important;
    width: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
    top: -30px;
    right: -24px;
    border-radius: 10px !important;
    border: 1px solid #8080806b !important;
    color: #8080806b !important;
}

.so-div div button{
    position: relative;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    background: none;
    border: 1px solid #ffffff38;
    color: white;
    width: 100%;
    margin: 2px;
    border-radius: 6px;
}


















.so-playlists{
    height: 0px;
    transition: .5s;
}
.atpo-div{
    display: none;
    padding-top: 6px;
}
.atpo-btn{
    height: 30px !important;
    width: 100% !important;
    font-size: 16px !important;
    border: none !important;
    border-radius: 10px !important;
    background: #434dab !important;
    color: #ffffffba !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}