.navbar-top{
    background: transparent;
    /* height: 60px; */
    height: 90px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    color: #990078;
    color: white;
    position: fixed;
    width: 100%;
    /* background: #1a0024; */
    /* background: #924cff; */
    background: linear-gradient(180deg, transparent, #4d00c5c7, transparent);
    background: #020b84;
    background: #020b8487;
    background: linear-gradient(180deg, #020b8487, transparent);
    background: rgba(0, 0, 0, 0.589);
    transition: .5s ease-out;
}

.navbar-breaker{
    border: none;
    background: #2c2c2c;
    height: 1px;
    width: 100%;
}

.app-logo{
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ff000030;
    border: 1px solid #01053f;
}


a {
    color: #5775e3;
    text-decoration: none;
}

.navbar-bottom{
    color: #8f3c3c;
    background: #020b84;
    background: #020b8487;
    background: linear-gradient(360deg, #020b8487, transparent);
    background: rgba(0, 0, 0, 0.589);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-top: 1px solid gray;
}
