.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
    padding-top: 120px;
    flex-direction: column;
    gap: 20px;
}

.poster::before {
    content: '';
    height: 200px;
    width: 355px;
    background: linear-gradient(45deg, black, transparent);
    position: absolute;
    border-radius: 10px;
}

.app-poster{
    height: 200px;
    border-radius: 14px;
}

.home-row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
}

.song-category-btn{
    height: 160px;
    width: 160px;
    border: 1px solid black;
    background-color: #740074;
    font-size: 30px;
    color: gray;
    border-radius: 10px;
}