.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 170px;
    flex-direction: column;
}

.poster::before {
    content: '';
    height: 232px;
    width: 100vw;
    background: linear-gradient(45deg, black, transparent);
    position: absolute;
}

.app-poster{
    width: 100vw;
}

.home-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-category-btn{
    height: 160px;
    width: 100vw;
    border: none;
    background-color: #740074;
    font-size: 30px;
    color: gray;
    background: transparent;
    border-bottom: 1px solid;
}
.song-category-btn:focus{
    background: rgba(82, 82, 82, 0.337);
    background: #0000ff14;
    transition: .5s;
}