.player {
    color: rgb(43, 43, 43);
    /* background: #363636; */
    background: #343946;
    background: rgb(221 214 254 / 0.2);
    backdrop-filter: blur(4px);
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 32px -6px black;
    box-shadow: 0px -20px 30px -30px black;
}

.player-top-row{
    display: flex;
    align-items: center;
    gap: 26px;
}

.player-song{
    display: flex;
    padding: 6px;
    display: flex;
    align-items: center;
    width: 47%;
}

.player-song-icon{
    height: 30px;
    padding: 10px;
}

.player-song-info-songname{
    color: rgb(221 221 221 / 75%);
    color: rgb(255 255 255 / 79%);
    font-size: 16px;
}

.player-song-info-artist{
    color: rgb(120 120 120 / 67%);
    color: rgb(255 255 255 / 54%);
    font-size: 12px;
}

.player-top-row-controllers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 40%;
}


input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    background: #434343;
    box-shadow: -100vw 0 0 100vw #4161c2;
}
input[type='range'] {
    overflow: hidden;
    /* width: 80px; */
    /* -webkit-appearance: none; */
    background-color: #1e1e1e;
}
input[type='range']::-webkit-slider-runnable-track {
    /* height: 10px; */
    -webkit-appearance: none;
    /* color: #13bba4; */
    margin-top: -1px;
}


.player-top-row-controllers-volume {
    width: 100%;
}
.player-top-row-controllers::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    background: #434343;
    box-shadow: -100vw 0 0 100vw #4161c2;
}

.player-top-row-controllers img {
    height: 27px;
}

.player-top-row-controllers-big{
    height: 20px !important;
}

.player-top-row-controllers-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input.player-top-row-controllers-volume-btn {
    height: 2px;
    width: 100%;
}

.player-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controller input {
    width: 96%;
    height: 3px;
    margin: 10px 0px 10px 0px;
}
.player-controller input::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    background: #434343;
    box-shadow: -100vw 0 0 100vw #4161c2;
}