.body {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background: #000616cb;
}

.body::before {
  background: #00000080;
  background: #1852ffa8;
  background: #1852ff69;
  content: '';
  position: fixed;
  top: 0;
  left: 280px;
  height: 100%;
  width: 50%;
  z-index: -1;
  transform: rotate(12deg);
}

.body::after {
  content: '';
  height: 120%;
  width: 70%;
  position: fixed;
  top: -72px;
  left: 300px;
  background: #01000c8c;
  background: #1b07ff7d;
  background: #1b07ff4f;
  z-index: -2;
  transform: rotate(29deg);
}