.body {
  background: linear-gradient(45deg, #0d0012,#0d0012, black,#0d0012,#0d0012);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

@media only screen and (max-width: 600px) {
    .body {
        background: linear-gradient(45deg, #1a0024,#1a0024, black,#1a0024,#1a0024);
    }
}
