.body {
  /* background-image: url('../public/background_gif.gif'); */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.body::before {
  /* background-color: black; */
  /* background-image: url('../public/background_gif2.gif'); */
  /* background: #0000005e; */
  background: #00000054;
  background: #00000080;
  backdrop-filter: blur(10px);
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.body::after {
  
  /* background-color: rgb(0, 2, 29); */
  /* background-color: black; */


  /* background-image: url('../public/background_gif2.gif'); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: inherit;
  /* background: #000000e3; */
  /* background: #0000005e; */
  /* background: #000000bd; */
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* @media only screen and (max-width: 600px) {
    .body {
      background: #000000bd;
    }
} */
