.cl-internal-phfxlr{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.cl-internal-b3fm6y{
    display: none;
}
.cl-internal-xk295g{
    gap: 1rem;
}
.cl-internal-17ydaof{
    gap: 1rem;
    background: transparent;
    box-shadow: none;
}
.cl-internal-1fsg6zy{
    background-color: #5270ce;
}
.cl-internal-15amzqo{
    color: #5270ce;
}
.cl-internal-1bm3sy9{
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.cl-rootBox.cl-userButton-root.🔒️.cl-internal-phfxlr{
    height: auto;
    width: auto;
}