.search-section{
    padding-top: 90px;
    height: 100vh;
}
.search-main{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* width: 84%; */
    margin-top: 16px;
    border-bottom: 1px solid #5a5a5a;
    padding: 6px;
}
.search-bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background: none;
    border: none;
}
.search-bar button img{
    height: 20px;
}
.search-main input{
    width: 86%;
    border: none;
    outline: none;
    height: 100%;
    padding: 0px 0px 0px 0px;
    padding-left: 16px;
    background: transparent;
    border-radius: 10px;
    color: rgb(147, 147, 147);
}
.search-message{
}
.search-results{
    color: #ffffffad;
    text-align: center;
}